@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: #252628;
}
@layer components {
  .tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max top-6 -left-4 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold scale-0
    transition-all duration-100;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
